{
    "check-coverage": true,
    "per-file": true,
    "lines": 5,
    "statements": 5,
    "functions": 0,
    "branches": 0,
    "include": [
      "backend/serviceProviders/*.js"
    ],
    "exclude": [
      "src/**/*.spec.js"
    ],
    "ignore-class-method": "methodToIgnore",
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "require": [
    ],
    "extension": [
      ".jsx"
    ],
    "cache": true,
    "all": true,
    "report-dir": "./alternative"
  }