$primary-color: #00aa8d;
$primary-color-light: #57dcbd;
$primary-color-dark: #007a60;

$secondary-color: #e91e63;
$secondary-color-light: #ff6090;
$secondary-color-dark: #b0003a;

$light-background-font-color: #000000;
$dark-background-font-color-transparent: rgba(255, 255, 255, 0.87);
$dark-background-font-color: #FFFFFF;

$header-height: 74px;
$header-top-bar-height: $header-height/4;
$primary-border-radius: 5px;

body {
  font-family: 'Roboto, Arial, Helvetica';
  margin: 0;
}

header {
  .header-top-bar {
    background-color: $primary-color-dark;
    height: $header-top-bar-height;
  }

  .header-logo {
    padding: 0.5rem;
    display: table-cell;
    white-space: nowrap;
  }

  .header-nav {
    display: table-cell;
    width: 99%;
    text-align: center;
    vertical-align: middle;

    a {
      color: inherit;
      text-decoration: none;
      padding: 0.5em;
      margin: 0.5em;
      border-bottom: 2px solid;
      transition: all 0.5s;
    }

    a:hover {
      color: $dark-background-font-color;
    }
  }
  background-color: $primary-color;
  color: $dark-background-font-color-transparent;
  height: $header-height;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  grid-gap: 1em 1.5em;

  .card {
    border-radius: $primary-border-radius;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.52);

    .card-main-info {
      display: grid;
      grid-template-columns: 1fr 3fr;
      border-bottom: 3px solid $primary-color-light;
      margin: 0.4em 0.6em 0.6em 0.6em;
      padding: 0.3em 0 0.3em 0;


      div {
        display: flex;
        align-items: center;
      }

      .card-price {
        justify-self: center;
        align-self: center;
        color: $primary-color;
        font-size: 1.5em;

        border-right: 2px solid $primary-color-light;
        padding: 0 0.3em 0 0;
      }
    }

    .card-description {
      margin: 0.4em 0.6em 0.6em 0.6em;
    }

    img {
      width: 100%;
    }
  }
}



// import media queries are defined after all styles they wish to override so they take precedence
// read more on https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity
@import "media768";
@import "media600";
