@media only screen and (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }

  header {

    .header-mobile-hamburger {
      display: flex;
      align-items: center;
      position: absolute;
      padding: 0 0.8em;
      height: $header-height - $header-top-bar-height;
      font-size: x-large;
      transition: all 0.5s;
      cursor: pointer;
    }

    .header-mobile-hamburger:hover,
    .header-main.active .header-mobile-hamburger {
      background-color: $primary-color-dark;
    }

    .header-logo {
      display: block;
      text-align: center;

      .full-size {
        display: none;
      }
      .mobile {
        display: inline;
      }
    }

    .header-nav {
      width: 40%;
      height: 100%;
      background: $primary-color-dark;
      position: absolute;
      z-index: 2;
      top: $header-height;
      transform: translateX(-100%);
      transition: all 0.5s;

      box-shadow: $primary-shadow-right;
      -moz-box-shadow: $primary-shadow-right;
      -webkit-box-shadow: $primary-shadow-right;
      -o-box-shadow: $primary-shadow-right;

      a {
        display: block;
        text-align: left;
      }
    }

    .header-main.active .header-nav {
      transform: translateX(0);
    }

    .header-overlay {
      position: absolute;
      top: $header-height;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      display: none;
    }

    .header-main.active .header-overlay {
      display: block;
    }
  }
}
