@media only screen and (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .authentication {
    grid-template-columns: 1fr;

    .authentication-side-picture {
      display: none;
    }
    .authentication-form-wrapper {
      justify-self: center;
      border: none;
      padding: none;
    }
  }
}
