$primary-background-color: #E5E5E5;

$primary-color: #00aa8d;
$primary-color-light: #57dcbd;
$primary-color-dark: #007a60;
$primary-color-unselected: #80cbc4;

$secondary-color: #e91e63;
$secondary-color-light: #ff6090;
$secondary-color-dark: #b0003a;

$light-background-font-color: #000000;
$dark-background-font-color-transparent: rgba(255, 255, 255, 0.87);
$dark-background-font-color: #FFFFFF;

$header-height: 5em;
$header-top-bar-height: $header-height/4;
$primary-border-radius: 5px;
$primary-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.52);
$primary-shadow-right: 0 7px 12px 1px rgba(0, 0, 0, 0.52);